# Example systemd service unit for pg_ddm
#
# - Adjust the paths in ExecStart for your installation.
#
# - The User setting requires careful consideration.  pg_ddm needs
#   to be able to place a Unix-domain socket file where PostgreSQL
#   clients will look for it.  In the olden days, this was in /tmp,
#   but systems using systemd now prefer something like
#   /var/run/postgresql/.  But then some systems also lock down that
#   directory so that only the postgres user can write to it.  That
#   means you need to either
#
#   - run pg_ddm as the postgres user, or
#
#   - create a separate user and add it to the postgres group and
#     make /var/run/postgresql/ group-writable, or
#
#   - use systemd to create the sockets; see pg_ddm.socket nearby.
#
#   For packagers and deployment systems, this requires some
#   coordination between the pg_ddm and the PostgreSQL
#   packages/components.
#
[Unit]
Description=connection pooler for PostgreSQL
Documentation=man:pg_ddm(1)
Documentation=https://www.pg_ddm.org/
After=network.target
#Requires=pg_ddm.socket

[Service]
Type=notify
User=postgres
ExecStart=/usr/bin/pg_ddm /etc/pg_ddm/pg_ddm.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
#LimitNOFILE=1024

[Install]
WantedBy=multi-user.target
